.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-start;
}
.section h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.subSection {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding-left: 20px;
}
.subSection > p {
    text-wrap: nowrap;
    min-width: 160px;
}
.themes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 118px;
    overflow: hidden;
    padding-block: 5px;
    border: 2px solid transparent;
    cursor: pointer;
}
.theme div {
    height: 35px;
    width: 75px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--color-border);
}
.theme p {
    font-size: 14px;
    font-weight: 600;
}
.btn {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;
    background-color: var(--color-violet);
    color: white;
    align-self: flex-end;
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.clrs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.clrsNbr {
    display: flex;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
}
.inputNbr {
    outline: none;
    width: 40px;
    padding: 5px 0px 5px 5px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    font-size: 15px;
}
.clrPicker {
    display: inline-block;
    position: relative;
}
.clrPicker button {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 100%;
    border: 1px solid var(--color-border);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clrPicker input {
    visibility: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 0;
}
