.entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    overflow-y: auto;
}
.entryColor {
    border-radius: 100%;
    min-width: 14px;
    height: 14px;
}
.addEntrySec {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.addEntryForm {
    flex-grow: 1;
    background-color: var(--color-input);
    padding: 6px 14px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}
.addEntryInput {
    outline: none;
    border: none;
    background-color: var(--color-input);
    color: var(--color-boy);
    font-size: 17px;
    width: 100%;
}
.addBtn {
    font-size: 25px;
    color: green;
    cursor: pointer;
    height: 25px;
    cursor: pointer;
}
.addBtn:hover {
    scale: 1.1;
    transition-duration: 300ms;
}
.or {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.addImgBtn {
    cursor: pointer;
    background-color: var(--color-violet);
    color: white;
    width: 42px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;
}
.addImgBtn:hover {
    box-shadow: 1px 1px 3px var(--color-violet);
    transition-duration: 300ms;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.disabled:hover {
    box-shadow: none;
    scale: 1;
}
.maxEntriesWarning {
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    left: 10px;
}
