.btn {
    background-color: var(--color-violet);
    color: #fff;
    font-size: 1.75rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: relative;
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.tooltip {
    position: absolute;
    background-color: var(--color-violet);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    left: 110%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    text-transform: capitalize;
    z-index: 10;
}
.btn:hover .tooltip {
    opacity: 1;
}
.btn:disabled .tooltip {
    opacity: 0;
}

@media (max-width: 640px) {
    .btn {
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
    }
    .tooltip {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }
}
@media (max-width: 400px) {
    .btn {
        width: 30px;
        height: 30px;
        font-size: 1.25rem;
    }
    .tooltip {
        font-size: 0.65rem;
        padding: 0.2rem 0.4rem;
    }
}
