.operations {
    display: flex;
    gap: 10px;
}
.opBtn {
    background-color: var(--color-input);
    color: var(--color-boy);
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font-size: 14px;
}
.opBtn:hover {
    background-color: var(--color-hover);
    transition-duration: 300ms;
}

@media (max-width: 600px) {
    .operations {
        gap: 7px;
    }
    .opBtn {
        padding: 3px 8px;
        font-size: 13px;
    }
}
