.wheel {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    border: 5px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
